# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.log
# Ignore IDE-specific files
build/
.idea/
# Ignore pytest cache files
.pytest_cache/
__pycache__/
# Python virtual environment
venv/
# Python virtual environment configuration
pyvenv.cfg
# IDE and environment files
.idea/
*.pyc
*.pyo
*.pyd
